.services-section {
  .container {
    .icons {
      margin-bottom: 2.25em;
      li {
        width: 48%;
        display: inline-block;
        margin: 0 0 1.6875em 0;
        padding: 0.35em 0 0 3.5em;
        position: relative;
        i {
          background: $primary-green;
          border-radius: 50%;
          color: #ffffff;
          display: block;
          height: 2.5em;
          left: 0;
          line-height: 2.5em;
          position: absolute;
          text-align: center;
          top: 0;
          width: 2.5em;
        }
      }
    }
  }
  border-top: solid 6px #f4f4f4;
}
