* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-size: 16pt;
  font-family: "Lato", sans-serif;
  line-height: 1.75em;
  color: #888;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777;
  font-weight: 700;
  margin: 0 0 0.5625em 0;
}

h2 {
  font-size: 3.5em;
  line-height: 1.5em;
  color: #4acaa8;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}

p {
  margin: 0 0 2.25em 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px #e4e4e4;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #4acaa8;
  border-color: transparent;
}

ul {
  list-style: none;
}

.wrapper {
  background: #fff;
  padding-right: 23em;
  transition: all 0.5s ease;
}

.main .container,
.footer .container {
  margin: 0 auto;
  max-width: calc(100% - 4.5em);
  width: 45em;
  padding: 6em 0 4em 0;
}

.input {
  height: 2.75em;
  outline: none;
  border: none;
  border: solid 2px #e4e4e4;
  border-radius: 5px;
  color: inherit;
  padding: 0 1em;
  width: 100%;
  text-decoration: none;
}
.input:focus {
  border-color: #4acaa8;
}

.button {
  background-color: #989898;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.header {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 23em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4acaa8;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  z-index: 100;
  transition: all 0.5s ease;
}
.header header {
  padding: 3em;
}
.header header .avatar {
  margin: 0 auto 2.25em auto;
  width: 8em;
  border-radius: 50%;
}
.header header .avatar img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.header header h1 {
  font-size: 1.75em;
  margin: 0;
}
.header header h1 a {
  color: #fff;
  border: none;
}
.header header p {
  color: #d2f2e9;
  font-style: italic;
  margin: 1em 0 0 0;
}
.header .nav {
  flex: 1;
}
.header .nav ul {
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  border-top: solid 2px #5ccfb1;
  display: block;
}
.header .nav ul li:first-child {
  border-top: none;
}
.header .nav ul li a {
  border: none;
  color: #fff;
  display: block;
  padding: 0.85em 0;
  transition: none;
}
.header .nav ul li a:active, .header .nav ul li a:focus {
  background-color: #fff;
  color: #4acaa8;
}
.header footer {
  padding: 2em;
  width: 100%;
}
.header footer .icons li {
  display: inline-block;
  padding-right: 1em;
}
.header footer .icons li a {
  color: #b7eadc;
  border: none;
  font-size: 1.25em;
}
.header footer .icons li a:hover {
  color: #fff;
}

.about-section .image-main {
  background-image: url("/Read-Only-site-template/Images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 20em;
}
.about-section .container header p {
  color: #777;
  font-size: 1.75em;
  font-weight: 700;
  margin-top: -0.75em;
  line-height: 1.5em;
}

.services-section {
  border-top: solid 6px #f4f4f4;
}
.services-section .container .icons {
  margin-bottom: 2.25em;
}
.services-section .container .icons li {
  width: 48%;
  display: inline-block;
  margin: 0 0 1.6875em 0;
  padding: 0.35em 0 0 3.5em;
  position: relative;
}
.services-section .container .icons li i {
  background: #4acaa8;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}

.accomplishments-section .container .features section {
  border-top: solid 3px #f4f4f4;
  margin-bottom: 2.25em;
  padding-top: 2.25em;
}
.accomplishments-section .container .features section:first-child {
  border-top: 0;
  padding-top: 0;
}
.accomplishments-section .container .features section .image {
  border: none;
  display: inline-block;
  padding-right: 2.5em;
  vertical-align: middle;
  width: 48%;
}
.accomplishments-section .container .features section .image img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.accomplishments-section .container .features section .inner {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.accomplishments-section .container .features section p {
  margin-bottom: 0;
}

.contact-section {
  border-top: solid 6px #f4f4f4;
}
.contact-section .container form {
  margin-bottom: 2.25em;
}
.contact-section .container form .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2em;
  margin-left: -2em;
}
.contact-section .container form .row > * {
  padding-top: 2em;
  padding-left: 2em;
}
.contact-section .container form .row .col-6 {
  width: 50%;
}
.contact-section .container form .row .col-12 {
  width: 100%;
}
.contact-section .container form .row .col-12 textarea {
  padding: 0.75em 1em;
  overflow: hidden;
  height: 10em;
}
.contact-section .container form .row .col-12 .actions {
  display: flex;
  margin-left: -1.125em;
}
.contact-section .container form .row .col-12 .actions li {
  padding: 0 0 0 1.125em;
}
.contact-section .container form .row .col-12 .actions li .button:hover {
  background-color: #a5a5a5;
  color: #ffffff;
}
.contact-section .container form .row .col-12 .actions li .button.primary {
  background-color: #4acaa8;
  color: #fff;
}
.contact-section .container form .row .col-12 .actions li .button.primary:hover {
  background-color: #5ed0b1;
}

.footer .container {
  padding: 0;
}
.footer .container .copyright {
  line-height: 1em;
  list-style: none;
  padding: 0;
  margin-bottom: 2.25em;
}
.footer .container .copyright li {
  border-left: solid 1px #d4d4d4;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 1em;
  padding-left: 1em;
}
.footer .container .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.menu-bar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;
  background: #222;
  color: #fff;
  min-width: 320px;
}
.menu-bar a {
  color: #fff;
  border: none;
}
.menu-bar .trigger {
  text-decoration: none;
  height: 44px;
  width: 64px;
  position: absolute;
  top: 0;
  border: 0;
  outline: 0;
  right: 0;
  background-color: #4acaa8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  body,
input,
select,
textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 1024px) {
  body,
input,
select,
textarea {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1280px) {
  body,
input,
select,
textarea {
    font-size: 11pt;
  }
}
@media screen and (max-width: 1680px) {
  body,
input,
select,
textarea {
    font-size: 13pt;
  }
}
@media screen and (max-width: 736px) {
  body h3,
input h3,
select h3,
textarea h3 {
    font-size: 1.5em;
  }
  body h4,
input h4,
select h4,
textarea h4 {
    font-size: 1em;
  }
}

@media screen and (max-width: 1680px) {
  .header {
    width: 21em;
  }
  .header header {
    padding: 2em;
  }
  .header footer {
    padding: 1.5em;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    width: 20em;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    transform: translateX(23em);
  }
  .header footer {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 736px) {
  .header {
    width: 17em;
    transform: translateX(17em);
  }
  .header header {
    padding: 2em;
  }
  .header header .avatar {
    margin: 0 auto 1.6875em auto;
    width: 6em;
  }
  .header header h1 {
    font-size: 1.5em;
  }
  .header header p {
    margin: 1em 0 0 0;
  }
  .header br {
    display: none;
  }
}

@media screen and (max-width: 1680px) {
  .wrapper {
    padding-right: 21em;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    padding-right: 20em;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 44px 0 1px 0;
  }
}

@media screen and (max-width: 1680px) {
  .main .container {
    padding: 4em 0 2em 0;
  }
}
@media screen and (max-width: 1024px) {
  .main .container {
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  .main .container {
    padding: 2em 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  .main .container {
    max-width: calc(100% - 3.375em);
  }
}

@media screen and (max-width: 736px) {
  .about-section .image-main {
    height: 12em;
  }
  .about-section .container header h2 {
    font-size: 2.5em;
  }
  .about-section .container header p {
    font-size: 1.5em;
  }
  .about-section .container header p br {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .services-section .container .icons li {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .accomplishments-section .container .features section .image {
    display: block;
    margin: 0 0 2.25em 0;
    padding-right: 0;
    width: 100%;
  }
  .accomplishments-section .container .features section .inner {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .contact-section .container form .row {
    margin-top: -1.5em;
  }
  .contact-section .container form .row > * {
    padding-top: 1.5em;
    padding-left: 1.5em;
  }
}
@media screen and (max-width: 736px) {
  .contact-section .container form .row {
    margin-top: -1.25em;
  }
  .contact-section .container form .row > * {
    padding-top: 1.25em;
    padding-left: 1.25em;
  }
}
@media screen and (max-width: 480px) {
  .contact-section .container form .row .col-12 .actions {
    flex-direction: column;
  }
  .contact-section .container form .row .col-12 .actions li:last-child {
    padding-top: 1.125em;
  }
  .contact-section .container form .row .col-12-xsmall {
    width: 100%;
  }
  .contact-section .container .button {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 736px) {
  .footer .container .copyright li {
    border-left: 0;
    display: block;
    line-height: 1.75em;
    margin: 0.75em 0 0 0;
    padding-left: 0;
  }
  .footer .container .copyright li:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu-bar {
    display: block !important;
  }
  .menu-bar .title {
    color: #fff;
    display: block;
    font-weight: 700;
    height: 44px;
    line-height: 44px;
    padding: 0 1em;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .is-menu-visible .header {
    transform: translateX(0em);
    width: 23em;
  }
  .is-menu-visible .menu-bar {
    transform: translateX(-23em);
  }
  .is-menu-visible .wrapper {
    transform: translateX(-23em);
  }
}
@media screen and (max-width: 736px) {
  .is-menu-visible .header {
    width: 17em;
  }
  .is-menu-visible .menu-bar {
    transform: translateX(-17em);
  }
  .is-menu-visible .wrapper {
    transform: translateX(-17em);
  }
}

/*# sourceMappingURL=main.css.map */
